
<ion-item class="appointment-item">

	<div class="content-container">

		<div class="details">

			@if (user) {

				<h3>{{ user.name }} {{ user.surname }}</h3>
				<p>DNI: {{ user.dni }}</p>

			}
			
			<h3 [class.fecha-completada]="!appointment.state">{{ formatDate(appointment.begins) }}</h3>
			<p>Tipo: {{ getAppointmentType(appointment.appointed) }}</p>
			<p>Estado: 

				<span [class]="appointment.state ? 'status-pending' : 'status-completed'">
					{{ appointment.state ? 'Cita pendiente' : 'Cita finalizada' }}
				</span>

			</p>

		</div>

		@if(appointment.state && !user){

			<div class="actions">
				<ion-button fill="clear" class="medical-button" (click)="navigateToUpdate()">

					<ion-icon name="create-outline" slot="icon-only"></ion-icon>

				</ion-button>

			</div>

		}

	</div>

</ion-item>