<app-loading></app-loading>

<app-header title="Agendar Cita" [showBackButton]="true" lastPage = "/home"></app-header>

<ion-content [fullscreen]="true">

	<ion-card class="form-card">

		<ion-card-content>

			<form [formGroup]="insertForm" (ngSubmit)="onSubmit()">

				<ion-item lines="full">

					<ion-label position="floating">Tipo de Cita</ion-label>
					<ion-select formControlName="appointed">

						<ion-select-option *ngFor="let type of appointmentTypes; let i = index" [value]="i">
							{{ type }}
						</ion-select-option>

					</ion-select>

				</ion-item>

				<ion-item lines="full">

					<ion-label position="floating">Fecha y Hora</ion-label>
					<ion-datetime formControlName="begins" display-format="DD/MM/YYYY HH:mm" min="{{ minDate }}" preferWheel></ion-datetime>

				</ion-item>

				<ion-button type="submit" expand="block" class="medical-button" [disabled]="insertForm.invalid">

					Agendar Cita

				</ion-button>

			</form>

		</ion-card-content>

	</ion-card>

</ion-content>